.field {
        position: relative;
    }
    .input-error-message {
        position: absolute;
        top: -25px;
        color: #fff;
    }
    .form-block__inputs-item .field:last-child{
        margin: 60px auto 0 auto;
    }
    .form-block__inputs-item .btn:last-child {
        margin: 0px auto 40px auto;

    }
    @media (max-width: 992px){
        .form-block__inputs-item .btn:last-child {
            margin: 0px auto 0px auto;

        }
        .form-block .field {
            margin-bottom: 30px;
        }
    }
    @media (max-width: 576px){
        .survey-new {
            background: #4a8ad5;
        }
    }
      @media (min-width: 1440px) {

        .headquarters .title-block {
            max-width: 100%;
        }
        }

    .headquarters .content-block{
        align-items: center;

    }
     .main-top-block__video-bg img{
        display: none;
    }
    @media (max-width: 768px){
        .main-top-block__video-bg video{
            display: none;
        }
        .main-top-block__video-bg img{
            display: block;
        }
        }
         @media (max-width: 992px){
        .calendar {
            background: #fff;
            margin-top: 58px;
        }
    }
      .show-hide-block__hiden .show-hide-block__item {
        opacity: 1;
        visibility: visible;
        display: block;
    }
    .show-hide-block .show-hide-block__content::before{
        display: none;
    }