.present{
	width: 1080px;
	height: 1920px;
	}
 video,img{
	max-width: 100%;
	width: 100%;
	height: 100%
}

body {
    display: block;
    margin: 0px;
}
 @media screen and (max-width: 1000px) {
   
 video,img{

	height: 100%!important
}
}
