.present{
	width: 1080px;
	height: 1920px;

	}
img{
	max-width: 100%;
	width: 100%;
	height: 100%
}
.owl-carousel{
	max-height: 1920px;

}
video{
	-o-object-fit: cover;
	object-fit: cover;
	position: fixed;
	width: 100%;
	height: 1920px;
	top: 0;
	left: 0;
}
body {
    display: block;
    margin: 0px;
}
 @media screen and (max-width: 1000px) {
   
 video,img{

	height: 100%!important
}
}
